body {
	margin: 0;
	padding: 0;
	background: #ffffff;
}

header {
	width: 80vw;
	margin: auto;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #cf99ff ;
	border: 2px #cf99ff;
	border-radius: 9px;
	font-family: 'Mooli', sans-serif;
}

#title {
	font-size: 3em;
	font-family: 'Mooli', sans-serif;
}

main {
	width: 80vw;
	margin: auto;
	padding: 20px;
	background: #cf99ff;
	border: 2px #cf99ff;
	border-radius: 9px;
	font-family: 'Mooli', sans-serif;
}

#shyguy {
	width: 150px;
	vertical-align: middle;
}
